/* CSS Notes, diferentes formas de incluirlo, media query, id y class */

.titulo {
  font-size: 10rem;
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1080px) {
  .titulo {
    font-size: 8rem;
    text-align: left;
  }
}

#new-card {
  background-color: #e0e0e0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 4rem;
  padding: 30px;
  width: 50%;
}

.card {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5rem;
  padding: 30px;
  width: 50%;
}
